In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import json

In [3]:
import json

# load data using Python JSON module
with open("valid_transactions.json", "r") as f:
    data = json.loads(f.read())

# Normalizing data
df = pd.json_normalize(data, record_path=["transactions"])
df.shape[0]

818

In [4]:
df

,status,message,result,address
0,1,OK,"[{'blockNumber': '13731949', 'timeStamp': '163...",0x4e12efe8acb07542f20e66bb714fe396be0e39a0
1,0,No transactions found,[],0x46959d0668fa17613604247978b03eb685d4d694
2,1,OK,"[{'blockNumber': '13751609', 'timeStamp': '163...",0x7dF10c0E5aaA083301cF3630474C09A3d3774492
3,1,OK,"[{'blockNumber': '13731931', 'timeStamp': '163...",0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7
4,1,OK,"[{'blockNumber': '13751527', 'timeStamp': '163...",0xde2942B52e75c327AD4ddD6C7Db7c398fED6199F
...,...,...,...,...
813,1,OK,"[{'blockNumber': '13704989', 'timeStamp': '163...",0x2833c5db4424250a3dec13e902caf67e783d1eab
814,1,OK,"[{'blockNumber': '13704682', 'timeStamp': '163...",0x19f239b46c83cb20b428fb4e694b650bd827617f
815,1,OK,"[{'blockNumber': '13675589', 'timeStamp': '163...",0x8af45481f9f08a891f8a89ad001442869ed2475e
816,1,OK,"[{'blockNumber': '13704681', 'timeStamp': '163...",0xd333db5f4501b9c3bDd446e4C2824e08Bc0e7ABB
817,1,OK,"[{'blockNumber': '13704725', 'timeStamp': '163...",0x5fdfd62994787164e8e87d5ab830fff473329e6a

In [5]:
mf = df[df.status == "1"]

In [6]:
mf.shape[0]

810

In [7]:
mf = mf.applymap(lambda s: s.lower() if type(s) == str else s)

In [8]:
mf.drop_duplicates(subset="address", keep=False, inplace=True)
mf

,status,message,result,address
0,1,ok,"[{'blockNumber': '13731949', 'timeStamp': '163...",0x4e12efe8acb07542f20e66bb714fe396be0e39a0
2,1,ok,"[{'blockNumber': '13751609', 'timeStamp': '163...",0x7df10c0e5aaa083301cf3630474c09a3d3774492
3,1,ok,"[{'blockNumber': '13731931', 'timeStamp': '163...",0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7
4,1,ok,"[{'blockNumber': '13751527', 'timeStamp': '163...",0xde2942b52e75c327ad4ddd6c7db7c398fed6199f
5,1,ok,"[{'blockNumber': '13745668', 'timeStamp': '163...",0xcbc91bb56c60c9660cf7805be1043bdbc914ad97
...,...,...,...,...
813,1,ok,"[{'blockNumber': '13704989', 'timeStamp': '163...",0x2833c5db4424250a3dec13e902caf67e783d1eab
814,1,ok,"[{'blockNumber': '13704682', 'timeStamp': '163...",0x19f239b46c83cb20b428fb4e694b650bd827617f
815,1,ok,"[{'blockNumber': '13675589', 'timeStamp': '163...",0x8af45481f9f08a891f8a89ad001442869ed2475e
816,1,ok,"[{'blockNumber': '13704681', 'timeStamp': '163...",0xd333db5f4501b9c3bdd446e4c2824e08bc0e7abb
817,1,ok,"[{'blockNumber': '13704725', 'timeStamp': '163...",0x5fdfd62994787164e8e87d5ab830fff473329e6a

In [9]:
mf = mf.drop(columns=["status", "message"])
mf

,result,address
0,"[{'blockNumber': '13731949', 'timeStamp': '163...",0x4e12efe8acb07542f20e66bb714fe396be0e39a0
2,"[{'blockNumber': '13751609', 'timeStamp': '163...",0x7df10c0e5aaa083301cf3630474c09a3d3774492
3,"[{'blockNumber': '13731931', 'timeStamp': '163...",0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7
4,"[{'blockNumber': '13751527', 'timeStamp': '163...",0xde2942b52e75c327ad4ddd6c7db7c398fed6199f
5,"[{'blockNumber': '13745668', 'timeStamp': '163...",0xcbc91bb56c60c9660cf7805be1043bdbc914ad97
...,...,...
813,"[{'blockNumber': '13704989', 'timeStamp': '163...",0x2833c5db4424250a3dec13e902caf67e783d1eab
814,"[{'blockNumber': '13704682', 'timeStamp': '163...",0x19f239b46c83cb20b428fb4e694b650bd827617f
815,"[{'blockNumber': '13675589', 'timeStamp': '163...",0x8af45481f9f08a891f8a89ad001442869ed2475e
816,"[{'blockNumber': '13704681', 'timeStamp': '163...",0xd333db5f4501b9c3bdd446e4c2824e08bc0e7abb
817,"[{'blockNumber': '13704725', 'timeStamp': '163...",0x5fdfd62994787164e8e87d5ab830fff473329e6a

In [10]:
df_1 = mf.iloc[:50]
df_1

,result,address
0,"[{'blockNumber': '13731949', 'timeStamp': '163...",0x4e12efe8acb07542f20e66bb714fe396be0e39a0
2,"[{'blockNumber': '13751609', 'timeStamp': '163...",0x7df10c0e5aaa083301cf3630474c09a3d3774492
3,"[{'blockNumber': '13731931', 'timeStamp': '163...",0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7
4,"[{'blockNumber': '13751527', 'timeStamp': '163...",0xde2942b52e75c327ad4ddd6c7db7c398fed6199f
5,"[{'blockNumber': '13745668', 'timeStamp': '163...",0xcbc91bb56c60c9660cf7805be1043bdbc914ad97
6,"[{'blockNumber': '13745654', 'timeStamp': '163...",0xf2262ee96f2914bcebc8ddde1c7cf68e1c5d0424
7,"[{'blockNumber': '12841816', 'timeStamp': '162...",0xc6a5393b7504122cbe9a331dd4bbdba87de4fdd5
8,"[{'blockNumber': '13750732', 'timeStamp': '163...",0x2484a62c2d3c6980dc57d9aa02305c2f7523dc0d
9,"[{'blockNumber': '13751314', 'timeStamp': '163...",0x090d4da05ec23c33355dd253df64907a71002084
10,"[{'blockNumber': '13751178', 'timeStamp': '163...",0x086cac15ac62ade32d4560ce9ab033c356e85d6e
11,"[{'blockNumber': '13747391', 'timeStamp': '163...",0x9a2e280aaeb4de82aad34df9c114f67a1699744c
12,"[{'blockNumber': '13750688', 'timeStamp': '163...",0xd23d61b4954e9ec78b8fad8a4cb6edb603bd51f1
13,"[{'blockNumber': '13750921', 'timeStamp': '163...",0xe97365631d7199cd8f3dfbd0db852bacb3483756
14,"[{'blockNumber': '13750927', 'timeStamp': '163...",0x10f914ec48222d657e1a63a108e2e290b7c08236
15,"[{'blockNumber': '13750731', 'timeStamp': '163...",0x049463e6d36e467b0ec65b78848eef13c556a45d
16,"[{'blockNumber': '13750612', 'timeStamp': '163...",0x3e44a725fd7a093afb72b8b2140ab867d2ed9730
17,"[{'blockNumber': '13750549', 'timeStamp': '163...",0x044a7a45dec06bb0f7368899cf7d3448d67d718b
18,"[{'blockNumber': '13750389', 'timeStamp': '163...",0x44acd3081eaa143812423925c7bde7c83541f8fb
19,"[{'blockNumber': '13750385', 'timeStamp': '163...",0xf7875f0ff958270b7bd5fa7cfdb8f42c0cf5b11a
20,"[{'blockNumber': '13750383', 'timeStamp': '163...",0x11815c8f0a24245d898211f82e15482459400b1b
21,"[{'blockNumber': '13750380', 'timeStamp': '163...",0xc7ad37edae28d8cd04bbe4a6ecf072314faed1be
22,"[{'blockNumber': '13750173', 'timeStamp': '163...",0x90f065f2594a7dc9043e9897c7a50310c8902780
23,"[{'blockNumber': '13750044', 'timeStamp': '163...",0x3ba58dc2857270f1d22ac9e93ba4941d5ee08729
24,"[{'blockNumber': '13749856', 'timeStamp': '163...",0x262556151c9624f96c8f0bb0bb73162a20cfd085
25,"[{'blockNumber': '13749717', 'timeStamp': '163...",0x70e933d5b0ccb338efa4b13094921a0bad9411bd
26,"[{'blockNumber': '13749546', 'timeStamp': '163...",0x80a98aab781e9a17cdf4daf27b1fede60e9a2a50
27,"[{'blockNumber': '13749549', 'timeStamp': '163...",0xbeb44febc550f69ff17f8aa8eec070b95ef369ba
28,"[{'blockNumber': '13749552', 'timeStamp': '163...",0xada39d170551daf42822e1d3da64efebbd14d1d3
29,"[{'blockNumber': '13749550', 'timeStamp': '163...",0x6443854207cc897ac826c8f843d834f0ee94c732
30,"[{'blockNumber': '13749630', 'timeStamp': '163...",0x98e28afb9c11aa979ae754e1ea2e9877cb0d418c
31,"[{'blockNumber': '13749614', 'timeStamp': '163...",0x9dc44153bd326b24714e926173e247fe7f9d6e47
32,"[{'blockNumber': '13749463', 'timeStamp': '163...",0x8a719565b74fa9b7e1f2d9556c37b97842360ae3
33,"[{'blockNumber': '13749430', 'timeStamp': '163...",0x759c55b14190ce6c5a74c15d62cd04a1ad9e49d7
34,"[{'blockNumber': '13749395', 'timeStamp': '163...",0x51b8e249a81a22acfcbf656bbcb41a2c127dbcfa
35,"[{'blockNumber': '13749207', 'timeStamp': '163...",0xf949c52768aa1ed9b9e6ec27428c002c5d7bd8d2
36,"[{'blockNumber': '13749224', 'timeStamp': '163...",0x63e2db73d6fce85965e75e6794fb199ff22b24df
37,"[{'blockNumber': '13749193', 'timeStamp': '163...",0x82e90fc3a4c2893bbf6d7c1c93a55ac071c963e2
38,"[{'blockNumber': '13749107', 'timeStamp': '163...",0xc735bac9dd3a673ee629bd94dbd631493b65015d
39,"[{'blockNumber': '13749173', 'timeStamp': '163...",0xde77069a0f63952a8330c6ee7756d0b0cb36866a
40,"[{'blockNumber': '13749004', 'timeStamp': '163...",0x04c40b64f6f6bf42c2efbbccb1c7bd731554c9b0
41,"[{'blockNumber': '13749111', 'timeStamp': '163...",0x64b5d0f878a1be24a2a682cb4c7f8ddbaa5396ae
42,"[{'blockNumber': '13749005', 'timeStamp': '163...",0x4834d458cf54825ff92ba70b149afcc1c9c5c716
43,"[{'blockNumber': '13748981', 'timeStamp': '163...",0x51cfe2d1ecc644ccc99fced97ed94ca975b2383e
44,"[{'blockNumber': '13748979', 'timeStamp': '163...",0x052f7aa028a8338bc2d93c39c36ffc634c961345
45,"[{'blockNumber': '13736379', 'timeStamp': '163...",0x0beed7099af7514ccedf642cfea435731176fb02
46,"[{'blockNumber': '13748825', 'timeStamp': '163...",0x08dc692fe528ffecf675ab3f76981553e060fd8a
47,"[{'blockNumber': '13748648', 'timeStamp': '163...",0x49542ad0f1429932e5b0590f17e676523f0a6369
48,"[{'blockNumber': '13723417', 'timeStamp': '163...",0x09a1c32e820c968550c136511028b8c365d87f6a
49,"[{'blockNumber': '13748622', 'timeStamp': '163...",0x87c147432a37d9ae997e1cc1d9cf178107b50261
50,"[{'blockNumber': '13748596', 'timeStamp': '163...",0x71d9d0aa37081958e8938bed37c0954ef0b0c61e

In [11]:
for index, row in df_1.iterrows():
    if row["result"][0]["to"] == "" and row["result"][0]["contractAddress"]:
        print(row["address"] + " is a contract address")

0x4e12efe8acb07542f20e66bb714fe396be0e39a0 is a contract address
0x7df10c0e5aaa083301cf3630474c09a3d3774492 is a contract address
0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7 is a contract address
0xde2942b52e75c327ad4ddd6c7db7c398fed6199f is a contract address
0xcbc91bb56c60c9660cf7805be1043bdbc914ad97 is a contract address
0xf2262ee96f2914bcebc8ddde1c7cf68e1c5d0424 is a contract address
0xc6a5393b7504122cbe9a331dd4bbdba87de4fdd5 is a contract address
0x2484a62c2d3c6980dc57d9aa02305c2f7523dc0d is a contract address
0x090d4da05ec23c33355dd253df64907a71002084 is a contract address
0x086cac15ac62ade32d4560ce9ab033c356e85d6e is a contract address
0x9a2e280aaeb4de82aad34df9c114f67a1699744c is a contract address
0xd23d61b4954e9ec78b8fad8a4cb6edb603bd51f1 is a contract address
0xe97365631d7199cd8f3dfbd0db852bacb3483756 is a contract address
0x10f914ec48222d657e1a63a108e2e290b7c08236 is a contract address
0x049463e6d36e467b0ec65b78848eef13c556a45d is a contract address
0x3e44a725fd7a093afb72b8b2140ab867d2ed9730 is a contract address
0x044a7a45dec06bb0f7368899cf7d3448d67d718b is a contract address
0x44acd3081eaa143812423925c7bde7c83541f8fb is a contract address
0xf7875f0ff958270b7bd5fa7cfdb8f42c0cf5b11a is a contract address
0x11815c8f0a24245d898211f82e15482459400b1b is a contract address
0xc7ad37edae28d8cd04bbe4a6ecf072314faed1be is a contract address
0x90f065f2594a7dc9043e9897c7a50310c8902780 is a contract address
0x3ba58dc2857270f1d22ac9e93ba4941d5ee08729 is a contract address
0x262556151c9624f96c8f0bb0bb73162a20cfd085 is a contract address
0x70e933d5b0ccb338efa4b13094921a0bad9411bd is a contract address
0x80a98aab781e9a17cdf4daf27b1fede60e9a2a50 is a contract address
0xbeb44febc550f69ff17f8aa8eec070b95ef369ba is a contract address
0xada39d170551daf42822e1d3da64efebbd14d1d3 is a contract address
0x6443854207cc897ac826c8f843d834f0ee94c732 is a contract address
0x98e28afb9c11aa979ae754e1ea2e9877cb0d418c is a contract address
0x9dc44153bd326b24714e926173e247fe7f9d6e47 is a contract address
0x8a719565b74fa9b7e1f2d9556c37b97842360ae3 is a contract address
0x759c55b14190ce6c5a74c15d62cd04a1ad9e49d7 is a contract address
0x51b8e249a81a22acfcbf656bbcb41a2c127dbcfa is a contract address
0xf949c52768aa1ed9b9e6ec27428c002c5d7bd8d2 is a contract address
0x63e2db73d6fce85965e75e6794fb199ff22b24df is a contract address
0x82e90fc3a4c2893bbf6d7c1c93a55ac071c963e2 is a contract address
0xc735bac9dd3a673ee629bd94dbd631493b65015d is a contract address
0xde77069a0f63952a8330c6ee7756d0b0cb36866a is a contract address
0x04c40b64f6f6bf42c2efbbccb1c7bd731554c9b0 is a contract address
0x64b5d0f878a1be24a2a682cb4c7f8ddbaa5396ae is a contract address
0x4834d458cf54825ff92ba70b149afcc1c9c5c716 is a contract address
0x51cfe2d1ecc644ccc99fced97ed94ca975b2383e is a contract address
0x052f7aa028a8338bc2d93c39c36ffc634c961345 is a contract address
0x0beed7099af7514ccedf642cfea435731176fb02 is a contract address
0x08dc692fe528ffecf675ab3f76981553e060fd8a is a contract address
0x49542ad0f1429932e5b0590f17e676523f0a6369 is a contract address
0x09a1c32e820c968550c136511028b8c365d87f6a is a contract address
0x87c147432a37d9ae997e1cc1d9cf178107b50261 is a contract address
0x71d9d0aa37081958e8938bed37c0954ef0b0c61e is a contract address

In [12]:
sf = pd.DataFrame(
    columns=[
        "address",
        "timeStamp",
        "from",
        "to",
        "value",
        "gas",
        "gasPrice",
        "gasUsed",
        "input",
        "txreceipt_status",
        "contractAddress",
    ]
)
for index, row in df_1.iterrows():
    for tx in row["result"]:
        sf = sf.append(
            {
                "address": row["address"],
                "timeStamp": tx["timeStamp"],
                "from": tx["from"],
                "to": tx["to"],
                "value": tx["value"],
                "gas": tx["gas"],
                "gasPrice": tx["gasPrice"],
                "gasUsed": tx["gasUsed"],
                "input": tx["input"],
                "txreceipt_status": tx["txreceipt_status"],
                "contractAddress": tx["contractAddress"],
            },
            ignore_index=True,
        )
sf

,address,timeStamp,from,to,value,gas,gasPrice,gasUsed,input,txreceipt_status,contractAddress
0,0x4e12efe8acb07542f20e66bb714fe396be0e39a0,1638512158,0x52f8f6cdeb36362bc3927929f96999f346760edc,,0,2525918,72139462736,2525918,0x60806040526000600760146101000a81548160ff0219...,1,0x4e12efe8acb07542f20e66bb714fe396be0e39a0
1,0x7df10c0e5aaa083301cf3630474c09a3d3774492,1638784466,0x446ad06c447b26d129c131e893f48b3a518a63c7,,0,1322413,84931593881,1322413,0x608060405234801561001057600080fd5b506116fe80...,1,0x7df10c0e5aaa083301cf3630474c09a3d3774492
2,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,1638511904,0x52f8f6cdeb36362bc3927929f96999f346760edc,,0,1763834,71821255971,1763834,0x60806040526040518060400160405280600781526020...,1,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7
3,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,1638512643,0x52f8f6cdeb36362bc3927929f96999f346760edc,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,0,63752,88906410274,63752,0x550a8b6c0000000000000000000000004e12efe8acb0...,1,
4,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,1638513286,0x52f8f6cdeb36362bc3927929f96999f346760edc,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,0,245166,92567550377,238644,0xee868fcd000000000000000000000000000000000000...,1,
...,...,...,...,...,...,...,...,...,...,...,...
16169,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1639282185,0xfe181896e6a5755164213595564b7051511618b7,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,218923,54120366160,145949,0x372500ab,1,
16170,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1639282448,0xfe181896e6a5755164213595564b7051511618b7,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,152446,49930905988,101390,0x40317e70000000000000000000000000000000000000...,1,
16171,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1639284118,0xb2ead8bb7446cc130c3c515fae31c1865ed66aaf,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,152446,53518562055,101390,0x40317e70000000000000000000000000000000000000...,1,
16172,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1639347762,0xa7f72fe5fc1d69bd4b6ddd0dbf257dd1042fa61a,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,152446,60000000000,101390,0x40317e70000000000000000000000000000000000000...,1,
16173,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1639375722,0x5c2b89cbec1a4996aa5e81f3dff8505abec6b34c,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,152446,45388909590,101390,0x40317e70000000000000000000000000000000000000...,1,

In [13]:
sf.drop_duplicates(subset="input", keep=False, inplace=True)
sf

,address,timeStamp,from,to,value,gas,gasPrice,gasUsed,input,txreceipt_status,contractAddress
0,0x4e12efe8acb07542f20e66bb714fe396be0e39a0,1638512158,0x52f8f6cdeb36362bc3927929f96999f346760edc,,0,2525918,72139462736,2525918,0x60806040526000600760146101000a81548160ff0219...,1,0x4e12efe8acb07542f20e66bb714fe396be0e39a0
1,0x7df10c0e5aaa083301cf3630474c09a3d3774492,1638784466,0x446ad06c447b26d129c131e893f48b3a518a63c7,,0,1322413,84931593881,1322413,0x608060405234801561001057600080fd5b506116fe80...,1,0x7df10c0e5aaa083301cf3630474c09a3d3774492
2,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,1638511904,0x52f8f6cdeb36362bc3927929f96999f346760edc,,0,1763834,71821255971,1763834,0x60806040526040518060400160405280600781526020...,1,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7
3,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,1638512643,0x52f8f6cdeb36362bc3927929f96999f346760edc,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,0,63752,88906410274,63752,0x550a8b6c0000000000000000000000004e12efe8acb0...,1,
4,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,1638513286,0x52f8f6cdeb36362bc3927929f96999f346760edc,0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7,0,245166,92567550377,238644,0xee868fcd000000000000000000000000000000000000...,1,
...,...,...,...,...,...,...,...,...,...,...,...
16135,0x87c147432a37d9ae997e1cc1d9cf178107b50261,1638745933,0xa724f494aa15f1f3cabd505c0ea40b549e612038,0x87c147432a37d9ae997e1cc1d9cf178107b50261,0,1000000,422150016013,93916,0xb515566a000000000000000000000000000000000000...,1,
16136,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1638742683,0x5c2b89cbec1a4996aa5e81f3dff8505abec6b34c,,0,3323367,128235211911,3021243,0x6080604052600a8054735c2b89cbec1a4996aa5e81f3...,1,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e
16137,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1638742796,0x5c2b89cbec1a4996aa5e81f3dff8505abec6b34c,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,43677,139517020185,29118,0x8906758d00000000000000000000000071d9d0aa3708...,1,
16138,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1638742814,0x5c2b89cbec1a4996aa5e81f3dff8505abec6b34c,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,42954,123029509428,28636,0x28e9d35b,1,
16140,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,1638743303,0x5c2b89cbec1a4996aa5e81f3dff8505abec6b34c,0x71d9d0aa37081958e8938bed37c0954ef0b0c61e,0,42855,125563903886,28570,0x2dfd0bdc,1,

In [14]:
# storing the data in JSON format
sf.to_json("file.json")

In [18]:
sf.to_csv("out.csv")

In [15]:
df_2 = sf.iloc[:100]
df_2["address"].unique()

array(['0x4e12efe8acb07542f20e66bb714fe396be0e39a0',
       '0x7df10c0e5aaa083301cf3630474c09a3d3774492',
       '0x1d7b37e14aa9202b4e5d49dcd9a58890710a69a7',
       '0xde2942b52e75c327ad4ddd6c7db7c398fed6199f'], dtype=object)

In [34]:
caf = pd.DataFrame(
    columns=[
        "contract_create_time",
        "contract_create_txn_fee",
        "contract_create_gas_used",
        "contract_create_gas_price",
        "contract_invoke_first_time",
        "contract_invoke_last_time",
        "contract_active_duration",
        "contract_invocations_total",
        "contract_invocations_unique",
        "contract_invocations_avg_gas",
        "contract_invocations_avg_gas_price",
        "contract_invocations_avg_txn_fee",
        "contract_invocations_total_ether",
        "contract_invocations_avg_ether",
        "contract_invocations_gas",
        "contract_invocations_avg_gas",
    ]
)

for addr in df_2["address"].unique():
    for index, tx in df_2.iterrows():
        feat = {}
        if addr == tx["address"]:
            if tx["to"] == "":
                feat["contract_create_time"] = tx["timeStamp"]
                feat["contract_create_txn_fee"] = tx["gasPrice"]
                feat["contract_create_gas_used"] = tx["gasUsed"]
                feat["contract_create_gas_price"] = tx["gasPrice"]
                feat["contract_invoke_first_time"] = tx["gasPrice"]
                caf = caf.append(feat, ignore_index=True)

caf

,contract_create_time,contract_create_txn_fee,contract_create_gas_used,contract_create_gas_price,contract_invoke_first_time,contract_invoke_last_time,contract_active_duration,contract_invocations_total,contract_invocations_unique,contract_invocations_avg_gas,contract_invocations_avg_gas_price,contract_invocations_avg_txn_fee,contract_invocations_total_ether,contract_invocations_avg_ether,contract_invocations_gas,contract_invocations_avg_gas
0,1638512158,72139462736,2525918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1638784466,84931593881,1322413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1638511904,71821255971,1763834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1638783393,86703119853,2399282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# EOA


# sf = pd.DataFrame(columns = ['to','from', 'timeStamp', 'address','gas','gasPrice','gasUsed','value','txreceipt_status'])
# eoa_features = pd.DataFrame(columns = ['txn_sent', 'txn_received','value_out', 'value_in', 'value_difference', 'distinct_addr','total_txn',
#                                        'unique_txn_sent','unique_txn_recieved','first_txn_time','last_txn_time',
                                       
#                                        'last_txn_value', 'avg_value_in', 'avg_value_out'])
# for index, row in mf.iterrows():
#     for  tx in row['result']:
#         sf = sf.append({'to' : tx['to'], 'timeStamp' : tx['timeStamp'] , 'address' : row['address'], 'gas' : tx['gas'],
#                     'from' : tx['from'] , 'gasPrice' : tx['gasPrice'], 'gasUsed' : tx['gasUsed'] , 'value' : tx['value'],
#                         'txreceipt_status' : tx['txreceipt_status']},ignore_index = True) 
# sf